.carousel-section {
    align-items: center;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
    width: 100%;
    padding: 5rem;
}

body.active .carousel-section {
    background-color: var(--bg-dark);
    transition: .5s ease-in-out;
}

.carousel {
    backdrop-filter: blur(10px);
    border-radius: 3rem 3rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 120em;
    overflow: hidden;
    width: 75%;
    padding-bottom: 2rem;
}

.carousel .carousel-container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 4rem;
    justify-content: flex-start;
    transform: translateX(-25%);
    transition: all .5s ease;
    padding: 2rem;
}

.carousel-container {
    width: 400%;
}

.carousel img {
    border-radius: 3rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    height: auto;
    object-fit: contain;
    width: calc(100% / 4);
}

.carousel-control {
    align-items: center;
    background-color: rgba(250, 250, 250, 0.3);
    border-radius: 1rem;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    margin: 0 auto;
    padding: 1em;
    width: 50%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
}

body.active .carousel-control {
    backdrop-filter: blur(10px);
}

.carousel li {
    list-style: none;
}

.carousel-button {
    cursor: pointer;
    height: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    width: 1em;
}

body.active .carousel-button {
    border: var(--bg-activate) 1px solid;
}

.carousel-button.activo {
    background-color: var(--bg-activate);
}

@media(max-width: 800px){
    .carousel-section {
        width: 100vw;
        padding: .1rem;
    }

    .carousel {
        width: 100%;
    }

    .carousel img {
        width: 100%;
    }
}

@media(max-width: 400px){
    
    .carousel-section {
        width: 100vw;
        padding: .1rem;
    }
    .carousel {
        width: 100%;
    }
    .carousel img {
        width: 100%;
    }
}
