@font-face {
  font-family: 'geomanistregular';
  src: url('../fonts/geomanist-regular-webfont.woff2');
  font-weight: normal;
  font-style: normal;

}

:root {
  --bg-dark: #151719;
  --bg-dark0: #141414;
  --bg-focus: #ffffff;
  --bg-activate: #bac0c0;
  --bg-dark0: #d9e3ea;
  --text-dark: #bac0c0;
  --text-dark0: #151719;
  --box-shadow-light: 3px 3px 5px rgba(21, 23, 25, 0.1);
  --box-shadow-dark: 3px 3px 5px rgba(21, 23, 25, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "geomanistregular" ;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  transition: 0.3s ease-in-out;
}

body.active {
  background-color: var(--bg-dark);
  color: var(--text-dark);
  transition: 0.3s ease-in-out;
}

a {
    color: var(--text-dark);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

header .navbar {
  padding: 1rem;
}