main {
    margin-top: 2rem auto;
    background-color: var(--bg-dark);

}

.space {
    background-image: url("../assets/4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.logo-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 100%;
    margin: 0 auto;
    color: var(--text-dark);
    backdrop-filter: blur(6px);
    padding: 3rem;
    backdrop-filter: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.img-logo-body {
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.9));
}

.message-body {
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.9);
    margin-top: 2rem;
    font-size: 75px;
    font-weight: 600;
    color: var(--text-dark);
    width: 100vw;
}

.img-logo-body {
    object-fit: fill;
    width: 50vw;
    height: auto;
    align-self: center;
}

.announcement {
    background-color: var(--bg-dark);
    color: var(--text-dark);
    transition: .5s ease-in-out;
    padding: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

body.active .announcement {
    background-color: var(--bg-dark);
    color: var(--text-dark);
    transition: .5s ease-in-out;
}

@media(max-width: 800px) {
    .message-body {
        font-size: 20px;
    }

    .announcement {
        font-size: 30px;
    }
}

@media(max-width: 400px) {
    .message-body {
        font-size: 18px;
    }

    .announcement {
        font-size: 20px;
    }

}