body .navbar {
    background-color: var(--bg-dark);
    transition: 0.3s ease-in-out;
}

.navbar {
    border: 1px solid saddlebrown;
    display: flex;
    align-items: center;
    padding: 3rem;
    justify-content: space-between;
}

/* body.active .navbar{
    background-color: var(--bg-dark);
    transition: 0.3s ease-in-out;
} */

.menu, .side-menu {
    display: none;
    align-items: center;
}

.horizontal-menu{
    border: 1px solid green;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* width: 100vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-dark);
    backdrop-filter: blur(10px);
    height: 56px;
    transition: .5s ease-in-out; */
}

.navbar a {
    text-decoration: none;
}

/* body.active .horizontal-menu {
    transition: .5s ease-in-out;
    background-color: var(--bg-dark);
} */

.home, .login {
    font-size: 1.2rem;
    font-weight: bolder;
}

.login {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px var(--bg-activate) solid; */
    color: var(--text-dark0);
    background-color: var(--bg-activate);
    border-radius: 8px;
}

.home .logo {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 6px;
    width: auto;
}

.logo {
    align-items: center;
    /* background-color: var(--bg-activate); */
    border-radius: 8px;
    transition: .3s ease-in-out;
}

.nav-start, .nav-center, .nav-end{
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-center ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.theme {
    cursor: pointer;
    padding: .4rem;
    display: none;
}

.horizontal-menu ul li a, .home, .login {
    padding: 1rem;
    width: 100%;
}

.horizontal-menu ul li a:hover, .login:hover {
    color: var(--text-dark0);
    background-color: var(--bg-activate);
    border-radius: 8px;
}

.login:hover {
    color: var(--text-dark0);
    background-color: white;
    border-radius: 8px;
}

.horizontal-menu ul li a:active, .login:active {
    color: var(--text-dark0);
    background-color: var(--bg-focus);
    border-radius: 8px;
}

.nav-end {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

/* body.active nav a {
    color: var(--text-dark);
    transition: 0.2s ease-in-out;
} */

nav,
.side-menu {
    box-shadow: var(--box-shadow-dark);
    transition: 0.3s ease-in-out;
}

body.active nav,
body.active .side-menu {
    box-shadow: var(--box-shadow-dark);
    transition: 0.3s ease-in-out;
}

.side-menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    gap: 1rem;
    top: 4.5rem;
    position: fixed;
    right: 0;
    width: 100%;
    background-color: var(--bg-dark);
    backdrop-filter: blur(10px);
    transition: 0.3s ease-in-out;
    z-index: 999;
    border-radius: 0 0 25px 25px;
}

body.active .side-menu {
    background-color: var(--bg-dark);
}


.side-menu li {
    border: 1px solid #bac0c0;
    border-radius: 25px;
    width: 100%;
    list-style: none;
    padding: .5rem;
}

.side-menu li:hover {
    background-color: var(--bg-activate);
    border-radius: 25px;
    color: var(--text-dark0);
}

.side-menu a {
    display: block;
    width: 100%;
}

.side-menu li a:hover {
    color: var(--text-dark0);
    transition: .3s;
    width: 100%;
}

nav a {
    color: #bac0c0c0;
}

.nav-center {
    display: none;
}

@media(max-width: 800px){
    .hide-on-mobile{
        display: none;
    }
    
    .nav-start, .menu{
        display: flex;
        margin: 0;
    }
    
    .menu{
        margin-right: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        display: none;
        
    }
    
    .menu:hover {
        /* background-color: var(--bg-activate); */
        border-radius: 8px;
        height: 100%;
    }
    .nav-end {
        margin: 2rem;
        padding: 0;
    }
}

@media(max-width: 400px){
    .side-menu{
        width: 100%;
        top: 72px;
    }

}
